<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Buckets OSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Buckets iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Documentation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>220DD0AD1AC506D90023F3B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>220DD0C21AC5076C0023F3B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>220DD0C61AC507970023F3B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>220DD0CA1AC507C50023F3B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>220DD0CF1AC508330023F3B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>220DD0D41AC508E20023F3B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22A142D91AB4D40900E70376</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22A142E41AB4D40900E70376</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22DD3CBB1AB5062D0083B4AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22DD3CC51AB5062D0083B4AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22F3F1AE1AB502EC0039D7E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
